<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Закупка семян подсолнечника{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('static/css/style.css') }}" type="text/css" rel="stylesheet" />
        <!--[if IE]>
        <link href="{{ asset('static/css/ie.css') }}" type="text/css" rel="stylesheet" />
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="topMenu">
                {% block topMenu %}
                    <ul class="topnav" id="menu">
                        <li>
                            {% if app.request.get('_route') == 'mainpage' %}
                                <a class="active" href="/">Главная</a>
                            {% else %}
                                <a href="/">Главная</a>
                            {% endif %}
                        </li>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            {% if app.request.get('_route') == 'users' %}
                                <a class="active" href="{{ url("users") }}">Пользователи</a>
                            {% else %}
                                <a href="{{ url("users") }}">Пользователи</a>
                            {% endif %}
                        </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                {% if app.request.get('_route') == 'deals' %}
                                    <a class="active" href="{{ url("deals") }}">Сделки</a>
                                {% else %}
                                    <a href="{{ url("deals") }}">Сделки</a>
                                {% endif %}
                            </li>
                        {% endif %}

                        <li class="loggedUser">
                            Здравствуйте, {{ app.user.username }} <a href="{{ logout_path('main') }}">Выход</a>
                        </li>

                        <li class="icon">
                            <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenuItems()"><i class="fa fa-bars"></i></a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
        {% endif %}

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block fos_user_content %}{% endblock %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('static/js/main.js') }}"></script>
        <script src="{{ asset('static/js/fontAwesome.js') }}"></script>
    </body>
</html>
