{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper" data-user="{{ app.user.id }}">
    <div id="container">
        <h2>Список закрытых сделок</h2>
        <table class="dealsList">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Цена закупки семечки, руб. на тонну</th>
                    <th>Стоимость доставки/отгрузки/хранения за 1 мес. руб. на тонну</th>
                    <th>Масличность, % от АСВ</th>
                </tr>
            </thead>
            <tbody>
            {% for deal in deals %}
                <tr>
                    <td class="dealDate"><a href="{{ path('deal_edit', { 'id': deal.id }) }}">{{ deal.updatedat | date("h:i:s d.m.Y") }}</a></td>
                    <td>{{ deal.seedprice }}</td>
                    <td>{{ deal.deliveryprice }} / {{ deal.shipmentprice }} /  {{ deal.storageprice }}</td>
                    <td class="dealOilContent">{{ deal.oilcontent }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
