{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper" data-user="{{ app.user.id }}">
    <div id="container">
        <h2>Список закрытых сделок</h2>
        <table class="dealsList">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Цена закупки семечки на складе продавца, руб. без НДС на тонну</th>
                    <th>Стоимость доставки, руб. без НДС на тонну</th>
                    <th>Стоимость отгрузки, руб. без НДС на тонну</th>
                    <th>Стоимость хранения за 1 мес., руб. без НДС на тонну</th>
                    <th>Масличность семян подсолнечника, % от АСВ</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
            {% set count = 1 %}
            {% for deal in deals %}
                <tr>
                    <td><a href="{{ path('deal_edit', { 'id': deal.id }) }}">{{ count }}</a></td>
                    <td>{{ deal.seedprice }}</td>
                    <td>{{ deal.deliveryprice }}</td>
                    <td>{{ deal.shipmentprice }}</td>
                    <td>{{ deal.storageprice }}</td>
                    <td>{{ deal.oilcontent }}</td>
                    <td class="dealDate">{{ deal.updatedat | date("h:i:s d-m-Y") }}</td>
                </tr>
                {% set count = count + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
