{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <div class="login-container">
            <h1>Данные сделки</h1><br />

            <div>
                <label for="appbundle_deal_deal_number">Номер сделки в системе</label>
                <input id="appbundle_deal_deal_number" class="calculated_field" type="text" readonly="readonly" value="{{ dealNumber }}"/>
            </div>

            {{ form_widget(form) }}

            <div>
                <label for="appbundle_deal_logistic_price">Логистика доставки семечки, руб. без НДС на тонну</label>
                <input id="appbundle_deal_logistic_price" class="calculated_field" type="text" readonly="readonly" value="0"/>
            </div>

            <div>
                <label for="appbundle_deal_seed_purchase_price">Цена закупки семечки на заводе (цена+логистика), руб. без НДС на тонну</label>
                <input id="appbundle_deal_seed_purchase_price" class="calculated_field" type="text" readonly="readonly" value="0"/>
            </div>

            <div>
                <label for="appbundle_deal_seed_purchase_price_oil">Цена закупки семечки на заводе (с учетом масличности и переработки), руб. без НДС на тонну</label>
                <input id="appbundle_deal_seed_purchase_price_oil" class="calculated_field" type="text" readonly="readonly" value="0"/>
            </div>

            {#<div>#}
                {#<label for="appbundle_deal_efficiency_coefficient">Коэффициент эффективности сделки</label>#}
                {#<input id="appbundle_deal_efficiency_coefficient" type="text" readonly="readonly" value="0">#}
            {#</div>#}

            <div>
                <label for="appbundle_deal_alpha_coefficient">Коэффициент «Альфа»</label>
                <input id="appbundle_deal_alpha_coefficient" class="calculated_field" type="text" readonly="readonly" value="0"/>
            </div>

            <div>
                <label for="appbundle_deal_omega_coefficient">Коэффициент «Омега»</label>
                <input id="appbundle_deal_omega_coefficient" class="calculated_field" type="text" readonly="readonly" value="0"/>
            </div>

            <div>
                <label for="appbundle_deal_min_omega_coefficient">Минимум «Омега»</label>
                <input id="appbundle_deal_min_omega_coefficient" class="calculated_field" type="text" readonly="readonly" value="1.06"/>
            </div>

            <div>
                <label for="appbundle_deal_min_omega_coefficient_excess">Превышение минимума «Омега»</label>
                <input id="appbundle_deal_min_omega_coefficient_excess" class="calculated_field" type="text" value="0"/>
            </div>

            <div>
                <label for="appbundle_deal_omega_bonus">Премия на 1 тонну за превышение коэф. «Омега», руб.</label>
                <input id="appbundle_deal_omega_bonus" class="calculated_field" type="text" readonly="readonly" value="{{ seedData.getMinOmega }}"/>
            </div>

            <input type="submit" class="login login-submit" value="Заключить сделку" />

            <input id="alphaNumerator" type="hidden" value="{{ alphaNumerator }}" />
            <input id="omegaNumeratorOil" type="hidden" value="{{ omegaNumeratorOil }}" />
            <input id="omegaNumeratorOilMeal" type="hidden" value="{{ omegaNumeratorOilMeal }}" />
            <input id="oilProcessingCost" type="hidden" value="{{ seedData.getProcessingCost }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}
